#doctor {
  width: 100%;
  max-height: 60vw;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#doctor > * {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

#doctor * {
  border: thin solid black;
}

#doctor-header {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#doctor-header > * {
  margin-left: 0.5vw;
  font-size: 1.3vw;
  text-decoration: none;
  color: #30ba8f;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10%;
}

#doctor-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#doctor-container > * {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

#doctor-container-header {
  width: 100%;
  height: 3vw;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

#doctor-item-header {
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#doctor-item-header > span {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3vw;
  justify-content: center;
}

#doctor-patient-list {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
}

li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
