#doctor {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#doctor > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#doctor-header {
  background-color: #30ba8f;
  width: 18%;
  justify-content: space-between;
}

#doctor-header > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: white;
}

#doctor-logo {
  height: 10%;
}

#doctor-logout {
  height: 10%;
}

.doctor-links {
  border-radius: 7vw;
  height: 7%;
}

#doctor-section {
  width: 77%;
}

#doctor-stats {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.doctor-stat {
  width: 20%;
  height: 90%;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.doctor-stat-header {
  width: 100%;
  height: 40%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.doctor-stat-par {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.doctor-stat-par button {
  border: thin solid transparent;
  height: 60%;
  width: 40%;
  background-color: #30ba8f;
  border-radius: 4vw;
  font-size: 1vw;
}

#doctor-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#doctor-container-header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#doctor-title {
  width: 60%;
  height: 100%;
  font-size: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#doctor-search {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#doctor-search > input {
  border: thin solid #30ba8f;
  font-size: 1.3vw;
  width: 75%;
  height: 75%;
  text-align: center;
}

input:focus {
  outline: thin solid transparent;
}

#doctor-search > button {
  width: 25%;
  border: thin solid #30ba8f;
  height: 80%;
  font-size: 1.3vw;
  background-color: #30ba8f;
}

.doctor-list {
  list-style: none;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.doctor-patient {
  height: 12.3%;
  width: 98%;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.doctor-patient > * {
  height: 100%;
}

.doctor-item-image {
  width: 5%;
  border-radius: 50%;
  background-color: #30ba8f;
}

.doctor-item-image > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.doctor-item-contact {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.doctor-item-age {
  width: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  align-items: center;
  justify-content: space-evenly;
}
.doctor-item-sex {
  width: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  align-items: center;
  justify-content: space-evenly;
}
.doctor-item-type {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw;
  justify-content: space-evenly;
}
.doctor-item-disease {
  width: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  align-items: center;
  justify-content: space-evenly;
}

.doctor-item-contact h4 {
  text-align: left;
  width: 100%;
  font-size: 1.3vw;
}

.doctor-item-contact p {
  text-align: left;
  width: 100%;
  font-size: 1vw;
}

#doctor-list-footer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.doctor-nav {
  border: thin solid transparent;
  background-color: #30ba8f;
  height: 70%;
  width: 10%;
  font-size: 1.3vw;
  border-radius: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#doctor-aside {
  width: 5%;
}

#patient-section {
  width: 77%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#patient-section > form {
  height: max-content;
  width: 100%;
  overflow-y: scroll;
}

#patient-section > form > div {
  width: 100%;
  margin-bottom: 1vw;
}

#patient-bio {
  height: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#patient-bio-image {
  width: 13.5%;
  height: 95%;
  border-radius: 50%;
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#patient-bio-contact {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#patient-bio-contact p {
  font-size: 1vw;
  font-weight: lighter;
}

#patient-bio-appointment {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#patient-bio-appointment > p {
  font-size: 1vw;
}

#patient-details {
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#patient-details > * {
  font-size: 1.3vw;
}

#patient-feeling {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

#patient-feeling > h4 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 0.3vw;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#detail {
  font-size: 1vw;
}
#patient-feeling > p {
  width: 90%;
  height: 90%;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.patient-allergies {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.patient-allergies > h4 {
  width: 100%;
  text-align: center;
}

#allergy-list {
  width: 90%;
}

.allergy-item {
  font-size: 1vw;
}

#patient-diagnosis {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

#patient-diagnosis > p {
  width: 90%;
  height: 90%;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#patient-diagnosis > h4 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-disease {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-disease > input {
  width: 30%;
  height: 80%;
  font-size: 1.3vw;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-notes {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

#patient-notes > textarea {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: thin solid black;
}

#patient-notes > textarea :focus {
  outline: thin solid transparent;
}

#patient-submit {
  width: 20%;
  height: 4vw;
  margin-left: 27vw;
  border: thin solid #30ba8f;
  background-color: #30ba8f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2vw;
}
#doctor-aside {
  width: 10%;
  height: 5%;
}
