#patient-section {
  width: 77%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#patient-section > form {
  height: max-content;
  width: 100%;
  overflow-y: scroll;
}

#patient-section > form > div {
  width: 100%;
  margin-bottom: 1vw;
}

#patient-bio {
  height: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#patient-bio-image {
  width: 14%;
  height: 95%;
  border-radius: 50%;
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}

#patient-bio-contact {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#patient-bio-contact p {
  font-size: 1vw;
  font-weight: lighter;
}

#patient-bio-appointment {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#patient-bio-appointment > p {
  font-size: 1vw;
}

#patient-details {
  height: 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#patient-details > * {
  font-size: 1.3vw;
}

#patient-feeling {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

#patient-feeling > h4 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-feeling > p {
  width: 90%;
  height: 90%;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#patient-diagnosis {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

#patient-diagnosis > p {
  width: 90%;
  height: 90%;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#patient-diagnosis > h4 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-disease {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-disease > input {
  width: 30%;
  height: 80%;
  font-size: 1.3vw;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-notes {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

#patient-notes > textarea {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: thin solid black;
}

#patient-notes > textarea :focus {
  outline: thin solid transparent;
}

#patient-submit {
  width: 20%;
  height: 4vw;
  margin-left: 27vw;
  border: thin solid aqua;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2vw;
}
#doctor-aside {
  width: 10%;
  height: 5%;
}
