#patient-section {
  width: 77%;
  height: 100vh;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#patient-section > form {
  height: max-content;
  width: 95%;
  border: thin solid black;
  background-color: darkslategrey;
}

#patient-section > form > * {
  width: 100%;
  border: thin solid black;
}

#patient-bio {
  height: 20vw;
  background-color: beige;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#patient-bio > * {
  border: thin solid black;
}

#patient-bio-image {
  width: 13.5%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#patient-bio-contact {
  height: 90%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#patient-bio-contact p {
  font-size: 1.3vw;
  font-weight: lighter;
}

#patient-details {
  height: 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#patient-details > * {
  border: thin solid black;
  font-size: 1.3vw;
}

#doctor-aside {
  width: 20%;
  height: 5%;
}
