#patient-section {
  width: 77%;
  height: 100vh;
  /* border: thin solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#patient-section > form {
  height: max-content;
  width: 100%;
  border: thin solid black;
  overflow-y: scroll;
  /* background-color: darkslategrey; */
}

#patient-section > form > * {
  width: 100%;
  margin-bottom: 1vw;
  border: thin solid black;
}

#patient-bio {
  height: 10vw;
  background-color: beige;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#patient-bio > * {
  border: thin solid black;
}

#patient-bio-image {
  width: 14%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#patient-bio-contact {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#patient-bio-contact p {
  font-size: 1vw;
  font-weight: lighter;
}

#patient-details {
  height: 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#patient-details > * {
  border: thin solid black;
  font-size: 1.3vw;
}

#patient-feeling {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

#patient-feeling > h4 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#patient-feeling > p {
  width: 100%;
  height: 90%;
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#doctor-aside {
  width: 20%;
  height: 5%;
}
