.main-section {
  width: 100%;
  height: 30vw;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-section * {
  border: thin solid black;
}

.main-section-cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.services {
  width: 100%;
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.services * {
  border: thin solid black;
}

.services-header {
  width: 30%;
  height: 3vw;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.services-container {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.services-card {
  height: 90%;
  background-color: aquamarine;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services-footer {
  height: 2vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.services-footer-span {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  margin-left: 0.3vw;
}

.doctor-card {
  height: 95%;
  background-color: aquamarine;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.testimonials {
  width: 100%;
  /* height: 25vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.testimonials * {
  border: thin solid black;
}

.test-header {
  height: 3vw;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.test-conts {
  height: 23vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.test-cards {
  width: 35%;
  height: 90%;
}
