.main-section {
  width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-section-cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-section-cont > h2 {
  width: 100%;
  height: max-content;
  text-align: center;
  display: flex;
  font-size: 2vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #0e3386;
}

strong {
  font-size: 3vw;
}

.main-section-cont p {
  font-size: 2vw;
}

.main-section-cont > a {
  text-decoration: none;
  width: 80%;
  height: 3vw;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0e3386;
  color: white;
  border-radius: 4vw;
}
.services {
  width: 100%;
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.services-header {
  width: 30%;
  color: #0e3386;
  height: 3vw;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.services-container {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.services-card {
  height: 90%;
  background-color: #0e3386;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.services-footer {
  height: 2vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.services-footer-span {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  margin-left: 0.3vw;
}

.doctor-card {
  height: 95%;
  background-color: #0e3386;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.doctor-card-image {
  height: 50%;
  width: 90%;
}

.doctor-card-doc {
  height: 10%;
  font-size: 1.1vw;
  color: white;
}

.doctor-card-par {
  height: 10%;
  font-size: 0.9vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.doctor-card > button,
.services-card > button {
  height: 12%;
  width: 60%;
  font-size: 1.3vw;
  border-radius: 5vw;
  background-color: white;
  color: #0e3386;
  border: thin solid transparent;
}

.testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.test-header {
  height: 3vw;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.test-conts {
  height: 23vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.test-cards {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.test-cards > * {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test-cards-image {
  height: 35%;
}

.test-cards-image > img {
  height: 6vw;
  background-color: #0e3386;
  width: 6vw;
  font-size: 1vw;
  border-radius: 50%;
}

.test-cards-review {
  height: 50%;
}

.test-cards-review > p {
  font-size: 1vw;
  text-align: center;
}

.test-cards-rating {
  height: 15%;
}

.test-cards-rating > img {
  font-size: 1vw;
}

#main-section-cont-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-section-cont-image > img {
  width: 100%;
  height: 100%;
}

#small-container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#small-container > img {
  height: 80%;
  opacity: .5;
}
