.main-section {
  width: 100%;
  height: 30vw;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-section * {
  border: thin solid black;
}

.main-section-cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
