.auth-container {
  height: 47.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.auth-container * {
  border: thin solid black;
  font-size: 1.3vw;
}

.auth-image {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.authentication {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authentication > * {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.authentication > span {
  width: 70%;
  height: 12%;
}
