@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#doctor {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#doctor > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#doctor-header {
  background-color: aqua;
  width: 18%;
  justify-content: space-between;
}

#doctor-header > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: white;
}

#doctor-logo {
  height: 10%;
}

#doctor-logout {
  height: 10%;
}

.doctor-links {
  border-radius: 7vw;
  height: 7%;
}

#doctor-section {
  width: 77%;
}

#doctor-stats {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.doctor-stat {
  width: 20%;
  height: 90%;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.doctor-stat-header {
  width: 100%;
  height: 40%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.doctor-stat-par {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.doctor-stat-par button {
  border: thin solid black;
  height: 70%;
  width: 35%;
  background-color: aqua;
  border-radius: 4vw;
  font-size: 1vw;
}

#doctor-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#doctor-container-header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#doctor-title {
  width: 60%;
  height: 100%;
  font-size: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#doctor-search {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#doctor-search > input {
  border: thin solid black;
  font-size: 1.3vw;
  width: 75%;
  height: 75%;
  text-align: center;
}

input:focus {
  outline: thin solid black;
}

#doctor-search > button {
  width: 25%;
  border: thin solid black;
  height: 80%;
  font-size: 1.3vw;
  background-color: aqua;
}

.doctor-list {
  list-style: none;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.doctor-patient {
  height: 12.3%;
  width: 98%;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.doctor-patient > * {
  height: 100%;
}

.doctor-item-image {
  width: 5%;
  border-radius: 50%;
  background-color: aqua;
}

.doctor-item-image > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.doctor-item-contact {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.doctor-item-age {
  width: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  align-items: center;
  justify-content: space-evenly;
}
.doctor-item-sex {
  width: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  align-items: center;
  justify-content: space-evenly;
}
.doctor-item-type {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw;
  justify-content: space-evenly;
}
.doctor-item-disease {
  width: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  align-items: center;
  justify-content: space-evenly;
}

.doctor-item-contact h4 {
  text-align: left;
  width: 100%;
  font-size: 1.3vw;
}

.doctor-item-contact p {
  text-align: left;
  width: 100%;
  font-size: 1vw;
}

#doctor-list-footer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.doctor-nav {
  border: thin solid transparent;
  background-color: aqua;
  height: 70%;
  width: 10%;
  font-size: 1.3vw;
  border-radius: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#doctor-aside {
  width: 5%;
}
