body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: max-content;
  /* border: thin solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#doctor {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#doctor > * {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
