@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 80%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
}

#header-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#header-container > * {
  text-decoration: none;
  background-color: aliceblue;
  padding: 0.3vw;
  color: blue;
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header-auth {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header-auth > * {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: aliceblue;
  color: blue;
}

#header-logo {
  width: 20%;
  background-color: aliceblue;
  color: blue;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header-logo > * {
  text-decoration: none;
}
main {
  width: 100%;
  min-height: 45vw;
  border: thin solid black;
}

footer {
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #30ba8f;
}

footer * {
  border: thin solid black;
  color: white;
}

footer > div {
  width: 80%;
  height: 100%;
}

.footer-header {
  height: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container {
  height: 16vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-span {
  width: 20%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-footer {
  height: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-footer > p {
  font-size: 1vw;
}
