@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: max-content;
  /* border: thin solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#doctor {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#doctor > * {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#doctor-header {
  background-color: aqua;
  width: 18%;
  justify-content: space-between;
}

#doctor-header > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* border: thin solid black; */
  background-color: white;
}

#doctor-logo {
  height: 10%;
}

#doctor-logout {
  height: 10%;
}

.doctor-links {
  border-radius: 7vw;
  height: 7%;
}

#doctor-section {
  width: 77%;
}

#doctor-aside {
  width: 5%;
}
